*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: black; }

.heading_primary {
  text-align: center;
  margin: 3rem 0 1rem 0;
  font-size: 2.5rem; }
  .heading_primary--sub {
    font-size: 1.5rem;
    font-weight: 100;
    color: #7a7a7a;
    text-align: center; }

.stats {
  display: inline-block;
  margin: 0; }
  .stats--primary {
    display: block;
    font-size: 3.5rem;
    margin-bottom: -1rem; }
  .stats--secondary {
    display: block;
    font-size: 1.5rem;
    color: #7a7a7a;
    font-weight: 500; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-sm {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-md {
  margin-bottom: 4rem !important; }

.u-margin-bottom-bg {
  margin-bottom: 8rem !important; }

.u-margin-top-bg {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-top-bg {
  margin-top: 8rem !important; }

.u-margin-top-md {
  margin-top: 4rem !important; }

.u-margin-top-sm {
  margin-top: 2rem !important; }

.header {
  background-image: url(../images/image-hero-desktop.jpg);
  height: 40rem;
  background-size: cover;
  background-position: top;
  position: relative; }
  .header_row {
    position: absolute;
    top: 3rem;
    width: 80%;
    display: flex;
    left: 10%;
    justify-content: space-between;
    color: white; }

.main {
  width: 55%;
  margin: 0 auto;
  position: relative;
  padding: 2rem 5rem;
  background: white;
  border-radius: 1rem;
  border: 1px solid rgba(122, 122, 122, 0.1); }
  .main-top-overlay {
    margin: -10rem auto 0; }
  .main-logo {
    position: absolute;
    top: -3rem;
    left: 49%; }
  .main_row {
    display: flex;
    justify-content: space-between;
    margin: 0 auto; }
  .main_row--nonspaced {
    display: flex; }
  .main_button {
    padding: 1.5rem 3rem;
    border-radius: 5rem;
    height: 5.5rem;
    width: 17rem;
    border: 0;
    font-weight: 600;
    cursor: pointer; }
    .main_button--backproject {
      background: #147b74;
      color: white; }
    .main_button--bookmark {
      color: #4d4d4d;
      position: relative; }
      .main_button--bookmark--active {
        width: 20rem;
        transition: .3s;
        color: #147b74;
        background-color: rgba(60, 180, 172, 0.1); }
      .main_button--bookmark-icon {
        height: 5.6rem;
        width: 5.6rem;
        top: 0;
        left: 0;
        position: absolute; }
      .main_button--bookmark-text {
        position: absolute;
        top: 39%;
        left: 130%; }

.primary_stats_rborder {
  margin: 1rem 8.5rem;
  background-color: rgba(122, 122, 122, 0.5);
  width: 1px;
  height: 6rem; }

.primary_stats_progressbar {
  background-color: #f4f4f4;
  width: 100%;
  height: 1rem;
  border-radius: 1rem;
  z-index: 1;
  position: relative; }
  .primary_stats_progressbar--bg {
    z-index: 1; }
  .primary_stats_progressbar--actual {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3cb4ac;
    z-index: 2;
    width: 90%;
    height: 1rem;
    border-radius: 1rem; }
