body {
    font-family: "Commissioner", sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.7;
    color: $color-black;
}

.heading_primary {
    text-align: center;
    margin: 3rem 0 1rem 0;
    font-size: 2.5rem;

    &--sub {
        font-size: 1.5rem;
        font-weight: 100;
        color: $color-gray-dark-1;
        text-align: center;
    }
}