// ### Primary

$color-primary-light: hsl(176, 50%, 47%);
$color-primary-dark: hsl(176, 72%, 28%);

// ### Neutral

$color-black: hsl(0, 0%, 0%);
$color-gray-dark-1: hsl(0, 0%, 48%);

$default-font-size: 1.6rem;