*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: black; }

.header {
  background-image: url(../images/image-hero-desktop.jpg);
  height: 40rem;
  background-size: cover;
  background-position: top;
  position: relative; }
  .header_row {
    position: absolute;
    top: 3rem;
    width: 80%;
    display: flex;
    left: 10%;
    justify-content: space-between;
    color: white; }
