.main {
    width: 55%;
    margin: 0 auto;
    position: relative;
    padding: 2rem 5rem;
    background: white;
    border-radius: 1rem;
    border: 1px solid rgba($color-gray-dark-1, .1);

    &-top-overlay {
        margin: -10rem auto 0;
    }

    &-logo {
        position: absolute;
        top: -3rem;
        left: 49%;
    }

    &_row {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    &_row--nonspaced {
        display: flex;
    }

    &_button {
        padding: 1.5rem 3rem;
        border-radius: 5rem;
        height: 5.5rem;
        width: 17rem;
        border: 0;
        font-weight: 600;
        cursor: pointer;

        &--backproject {
            background: $color-primary-dark;
            color: white;
        }

        &--bookmark {
            color: $color-gray-dark-2;
            position: relative;
            

            &--active {
                width: 20rem;
                transition: .3s;
                color: $color-primary-dark;
                background-color: rgba($color-primary-light,.1);
            }


            &-icon {
                // background-image: url(../images/icon-bookmark.svg);
                height: 5.6rem;
                width: 5.6rem;
                top: 0;
                left: 0;
                position: absolute;

                &--active {
                    // background-image: url(../images/icon-bookmark.svg);
                }
            }

            &-text {
                position: absolute;
                top: 39%;
                left: 130%;
            }
        }
    }
}